# Compiled class files
*.class

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
/.idea/
/*.iml
/.vscode/
/.settings/
/.project
/.classpath

# Build directories
/target/
/build/
/out/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Dependency files
*.jar
*.war

# Gradle files
.gradle/
/build/

# Maven files
target/

# Java crash logs
hs_err_pid*.log
/dist/
